<p>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>DcodeHub</span>
        <span class="example-spacer"></span>
        <form class="w-[35%] h-[7vh] mt-[3vh] ">
            <mat-form-field class="w-[100%] h-[100%] ">
              <input matInput placeholder="Search Dcodehub" class="search-bar">
            </mat-form-field>
          </form>
        <span class="example-spacer"></span>
        <button class="login" aria-label="Example icon-button with menu icon">  Log in</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
</mat-toolbar>
</p>  
