<p>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>DcodeHub</span>
        <span class="example-spacer"></span>
        <form >
              <input matInput placeholder="Search Dcodehub" class="search-bar">
        </form>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/create">
          Create a Post
       </button>
        <span class="example-spacer"></span>
        <button class="login" aria-label="Example icon-button with menu icon">  Log in</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>...</mat-icon>
        </button>
      </mat-toolbar-row>
</mat-toolbar>
</p>  
