<mat-accordion multi="true" *ngIf="getPostsForCurrentPage().length > 0">
    <mat-expansion-panel *ngFor="let post of getPostsForCurrentPage()">
   
        <mat-expansion-panel-header>{{ post.title }}</mat-expansion-panel-header>
        <p> {{post.content}} </p>
        <img *ngIf="post.imageUrl" [src]="post.imageUrl" alt="Post Image" class="post-image">
        <mat-action-row>
            <a [routerLink]="['/edit', post._id]">
                <button mat-button color="primary" (click)="selectedPost = post; openEditModal()">
                   Edit
                </button>
                
  <app-post-edit *ngIf="selectedPost" [post]="selectedPost" (postUpdated)="onPostUpdated($event)"></app-post-edit>
            </a>
            
            <button mat-button color="warn" (click)="deletePost(post._id)">
     Delete
  </button>
  
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="getPostsForCurrentPage().length <= 0">No post added</p>
  
  
  <div class="container">
    <ul class="pagination">
        <!-- Pass the $event object to the nextPage and previousPage methods -->
        <li><a href="#" (click)="previousPage($event)"><</a></li>
        <!-- Dynamically generate page numbers with a class for the current page -->
        <li *ngFor="let page of [].constructor(totalPages); let i = index">
            <!-- Pass the $event object to the method that sets the current page -->
            <a href="#" (click)="setCurrentPage(i + 1, $event)" [class.active]="currentPage === i + 1">{{ i + 1 }}</a>
        </li>
        <li><a href="#" (click)="nextPage($event)">></a></li>
    </ul>
   </div>
  
  