.example-container {
    position: absolute;
    position: fixed;
    top: 8vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 32vw;
    height: 92vh;
    overflow: auto;
    background: none;

  }
mat-sidenav{
    padding-left: 1vw;
    padding-right: 3vw;
    border-right: solid 1px #33464C;

}

  mat-toolbar{
    background: #0b1416;
    color: #f2f4f5;
    font-size: 2vh;
    border-bottom: solid 1px #33464C;
    padding-top: 15px;
    padding-left: 2vw;
    height: 12vh;
  }
 
  mat-panel-title{
    color: #82959b;

  }
  mat-expansion-panel{
    background: none;
    color: #f2f4f5;

  }
mat-expansion-panel-header{
  border-bottom: solid 1px #33464C ;

}
  mat-sidenav-content{
    width: 0%;
  }

.sidebar-links button{
  display: block;
  margin-bottom: 2vh;
  margin-left: 1vw;

}
button:hover{
  background-color: #33464C;

}
  .example-sidenav {
    top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background: #0b1416;
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: none;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 15%;
  }
  .header{
    top: 25px;

  }

  .example-container::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
    height: 0; /* Remove scrollbar height */
  }
  
 