.example-container {
    position: absolute;
    top: 8vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 32vw;
    height: 92vh;

    background: none;

  }
mat-sidenav{
    padding-left: 1vw;
    padding-right: 3vw;
    border-right: solid 1px #82959b;
}

  mat-toolbar{
    background: #0b1416;
    color: #f2f4f5;
    font-size: medium;
    border-bottom: solid 1px #82959b;
    padding-top: 15px;
    padding-left: 2vw;
    height: 12vh;
  }
  mat-panel-title{
    color: #82959b;

  }
  mat-expansion-panel{
    background: none;
    color: #f2f4f5;

  }


  .example-sidenav {
    top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background: #0b1416;
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: none;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 15%;
  }
  .header{
    top: 25px;

  }