<ng-container>
  
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                   fixed="true" [fixedTopGap]="options.value.top"
                   [fixedBottomGap]="options.value.bottom">
    <!-- sidebar title  -->
       <mat-toolbar>
       <span>
        <p>Home</p>
        <p>Popular</p>
       </span>
      </mat-toolbar>
      <!-- sidebar content  -->
      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header >
            <mat-panel-title class="header">
              TOPICS 
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <p>Web Development</p>
          <p>Data Science</p>
          <p>Cyber Security</p>
          <p>Data Analytics</p>
          <p>Desktop Application Development</p>
          <p>App Development</p>
        </mat-expansion-panel>
       

        <mat-expansion-panel [expanded]="true" >
            <mat-expansion-panel-header>
              <mat-panel-title class="header">
                RESOURCES 
              </mat-panel-title>
       
            </mat-expansion-panel-header>
            <div class="sidebar-links">
              <br>
              <button>About Decodehub</button>
              <button>Advertise</button>
              <button>Help</button>
              <button>Blog</button>
              <button>Careers</button>
              <button>Press</button>
              <hr> <br>
              <button>Communities</button>
              <button>Best of CodeHub</button>
              <button>Topics</button>
              <hr> <br>
              <button>Content Policy</button>
              <button>Privacy Policy</button>
              <button>User Agreement</button>
            </div>
            

          </mat-expansion-panel>
    <!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->

      </mat-accordion>


      
      </mat-sidenav>
  
      <mat-sidenav-content>
        <p><button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button></p>
      </mat-sidenav-content>
      
    </mat-sidenav-container>
    
  </ng-container>
  